body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    height: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.operator:hover {
    background-color: #ffb84d;
}

#equals {
    grid-column: span 4;
    background-color: #34c759;
    color: #fff;
}

#equals:hover {
    background-color: #66db8c;
}
